@import '../../../../scss/_custom_bootstrap';

.jdTodoItem {
  @include make-row(0);
}

.jdTodoItem-completed {
  @include make-col-ready();
  @include make-col-offset(1);
  @include make-col(1);
  height: 2.4rem;
}

.jdTodoItem-completedLabel {
  font-size: 2.4rem;

  &:after {
    content: '\2610';
  }

  &.completed {
    &:after {
      content: '\2611';
    }
  }
}

.jdTodoItem-completedInput {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
}

.jdTodoItem-title {
  @include make-col-ready();
  @include make-col(9);
}

.jdTodoItem-titleInput {
  width: 100%;
  font-size: 1.6rem;
  outline: none;
  border: none;

  &:focus {
    border-bottom: 1px solid;
  }
}
