<section class="jdTodoItem">
  <section class="jdTodoItem-completed">
    <label
      class="jdTodoItem-completedLabel"
      [class.completed]="todo.completed"
      [attr.for]="'completed-' + todo.id"
      (click)="toggleCompleted()"
    >
    </label>
    <input
      class="jdTodoItem-completedInput"
      [attr.id]="'completed-' + todo.id"
      type="checkbox"
      [ngModel]="todo.completed"
    />
  </section>
  <section class="jdTodoItem-title">
    <input
      class="jdTodoItem-titleInput"
      type="text"
      [ngModel]="todo.title"
      (change)="updateTitle($event)"
    />
  </section>
</section>
