/*
  Defaults
*/

html {
  box-sizing: border-box;
  font-size: 62.5%; // browsers default to 16px, setting a percentage allows font-size to scale with browser zoom, 62.5% is 10px which makes conversion to rem easier
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem; // 16px
}
