@import '../../scss/_custom_bootstrap';

.jdTodo-list {
  @include make-container-max-widths();
  margin: 3.2rem auto 0;
  list-style-type: none;
  padding-inline-start: 0;

  border: 1px solid red;
}

.jdTodo-listItem {
  & + & {
    margin-top: 1.5rem;
  }
}
